.carousel {
    height: 415px;
    width: auto;
    margin-top: 30px;
    position: relative;
    margin-left: 100px;
    margin-right: 100px;
}
.carousel p {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    color: var(--colorWhite);
    margin-top: 340px;
    text-align: center;
    text-shadow: 0px 0px 5px black;
}
.carousel button {
    border: none;
    background-color: transparent;
    display: hidden;
    color: var(--colorWhite);
}
.classImage {
    content: '';
    height: 100%;
    width: 100%;
    inset: 0;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 0px 0px 24px #b3b1b1;
    position: absolute;
}
.classFlecheGauche {
    position: absolute;
    content: '';
    color: var(--colorWhite);
    inset: 0;
    top: 40%;
    cursor: pointer;
    left: 0;
}

.classFlecheDroite {
    position: absolute;
    content: '';
    inset: 0;
    top: 40%;
    cursor: pointer;
    left: calc(100% - 50px);
}

/* Media Queries Tablette Paysage */
@media (min-width: 1024px) and (max-width: 1279px) {
    .carousel {
        margin-left: 7%;
        margin-right: 7%;
    }
}

/* Media Queries Tablette Portrait */
@media (min-width: 768px) and (max-width: 1023px) {
    .carousel {
        margin-left: 4%;
        margin-right: 4%;
    }
}

/* Media Queries Mobile Paysage */
@media (max-width: 767px) {
    .carousel {
        margin-left: 20px;
        margin-right: 20px;
    }
    .compteur-p {
        visibility: hidden;
    }
    .classFlecheGauche {
        height: 30px;
    }
    .classFlecheDroite {
        height: 30px;
        left: calc(100% - 20px);
    }
}

/* Media Queries Mobile Portrait */
@media (max-width: 480px) {
}
