.logement {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.ficheLogement {
    display: flex;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
}
.ficheLogement h4 {
    color: var(--colorRed);
    margin-top: 10px;
    font-size: 18px;
}
.ficheLogement h1 {
    color: var(--colorRed);
    margin: 0;
    font-size: 36px;
}
.tags {
    display: flex;
    align-items: center;
    padding-inline: 20px;
    padding-bottom: 2px;
    margin: 10px 20px 0 0;
    height: 25px;
    font-size: 14px;
    background-color: var(--colorRed);
    color: white;
    border-radius: 10px;
}
.div-tags {
    display: flex;
    white-space: nowrap;
    flex-wrap: wrap;
}
.div-description {
    width: 100%;
}
.collapseLogement {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 100%;
}
.logement-div-collapse {
    width: 40%;
}
.div-host {
    display: flex;
    gap: 10px;
    color: var(--colorRed);
    width: 167px;
}
.div-host p {
    display: flex;
    text-align: right;
    font-size: 18px;
    width: 93px;
    height: 52px;
    align-items: center;
    text-shadow: 0px 0px 5px rgb(180, 166, 166);
}
.div-host img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-top: 15px;
    box-shadow: 0px 0px 10px rgb(175, 136, 136);
}
.div-stars {
    display: flex;
    font-size: 30px;
    width: 130px;
    gap: 10px;
}
.span1 {
    color: var(--colorRed);
    text-shadow: 0px 0px 5px rgb(180, 166, 166);
}

.span2 {
    color: #e3e3e3;
}

/* Media Queries Tablette Paysage */
@media (min-width: 1024px) and (max-width: 1279px) {
    .ficheLogement {
        margin-left: 7%;
        margin-right: 7%;
    }
    .logement-div-collapse {
        margin-left: 7%;
        margin-right: 7%;
    }
}

/* Media Queries Tablette Portrait */
@media (min-width: 768px) and (max-width: 1023px) {
    .ficheLogement {
        margin-left: 4%;
        margin-right: 4%;
    }
    .logement-div-collapse {
        margin-left: 4%;
        margin-right: 4%;
        width: 100%;
    }
}

/* Media Queries Mobile Paysage */
@media (max-width: 767px) {
    .ficheLogement {
        margin-left: 20px;
        margin-right: 20px;
        display: block;
    }
    .logement-div-collapse {
        width: 100%;
    }
    .collapseLogement {
        display: block;
        justify-content: center;
    }
    .description {
        margin-bottom: 30px;
    }
    .bloc-host-rate {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .div-stars {
        align-items: center;
        justify-content: left;
    }
    .tags {
        font-size: 10px;
    }
    .div-tags {
        gap: 10px;
    }
}

/* Media Queries Mobile Portrait */
@media (max-width: 480px) {
}
